#root {
    width: 60rem;
    height: 17rem;
    margin-left: 20rem;
    margin-top: 15rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #ECECEC;
   
    background: #485B73;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    
}